.home-main-box {
    width: 89%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

.home-main-box a {
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 90px;
}

.box-main {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgb(41, 142, 209);
    border-radius: 5px;
    background-color: aqua;
    cursor: pointer;
}